trailingComma: all
tabWidth: 2
semi: false
singleQuote: true
jsxSingleQuote: false
endOfLine: auto
printWidth: 120
tailwindStylesheet: "./src/index.css"
tailwindFunctions:
  - tv
  - twMerge
plugins:
  - prettier-plugin-tailwindcss
